<div>
  <p><%= @answer %></p>
  <p>- You</p>
</div>

<div>
  <p><%= @coach_response %></p>
  <p>- Coach</p>
</div>

<div>
<%= link_to 'Answer again', root_path, class: 'btn btn-primary'  %></p>
</div>
